<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/mtos.min.js"></script>
    {{! <script src="https://cdn.jsdelivr.net/npm/mtos@0.5.0/dist/mtos-iife.min.js"></script> }}
    <script>
      mtos.setup({
        fetch: {
          headers: {
            mtos: true
          }
        },
        filter({host, href}) {
          return !href.endsWith("refresh") && host === window.location.host
        },
        onBeforeElUpdated(fromEl, toEl) {
          if (toEl.tagName === "H1") {
            console.log(toEl.innerText);
          }
        }
      })
    </script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/refresh">Refresh</a>
        </li>
        <li>
          <a href="https://github.com/voorjaar/mtos">GitHub</a>
        </li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
