body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

main {
  position: relative;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

nav {
  border-bottom: 1px solid rgba(170, 30, 30, 0.1);
  font-weight: 300;
  padding: 0 1em;
}

ul {
  margin: 0;
  padding: 0;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}

li {
  display: block;
  float: left;
}

.selected {
  position: relative;
  display: inline-block;
}

.selected::after {
  position: absolute;
  content: "";
  width: calc(100% - 1em);
  height: 2px;
  background-color: rgb(170, 30, 30);
  display: block;
  bottom: -1px;
}

a {
  text-decoration: none;
  padding: 1em 0.5em;
  display: block;
}
